<style>
.main_page {
  flex: 1;
}

.post_template {
  padding-left: 0px;
}

.blogs h1 {
  font-size: 72px;
  font-weight: 500;
  margin: 50px 0;
  display: block;
}

.blogs .post_template li {
  display: inline-block;
  width: calc(33.33% - 24px);
  box-shadow: 0 0 20px #ccc;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 10px;
 
}

.blogs .post_template li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;   
}

.blogs .post_template li .post_title a {
	text-decoration: none;
	color: #000;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	display: block;
	margin-top: 20px;
	min-height: 90px;
}
.more-Reading {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
  display: block;
}

.post_date {
  width: calc(50% - 3px);
  display: inline-block;
  margin-bottom: 20px;
}

.tag_s {
  width: calc(50% - 3px);
  display: inline-block;
  text-align: right;
  margin-bottom: 20px;
  color: #000;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

 

@media only screen and (max-width: 600px) {
  .blogs .post_template li {
    width: 100%;
    margin: 10px 0px;
  }

  .blogs h1 {
    font-size: 48px;
  }


  .blogs .post_template li .post_title a {
	min-height: auto;
  }
 
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .blogs .post_template li {
    width: calc(50% - 23px);
    margin: 10px 10px;
  }
}

   /* Add CSS to control the layout */
        .image-heading-container {

        }

        .image-heading-container img {
            display: block; /* Make the image a block element */
        }
        
</style>




<?php
// Define a variable with the path to your new image relative to the theme folder
$stonesImagePath = esc_url(get_theme_file_uri('assets/images/stones.jpg'));
?>
      aaaaa  <?php echo esc_url(get_theme_file_uri('assets/images/stones.jpg')) ?>
<img src="<?php echo esc_url( get_theme_file_uri( 'assets/images/stones.jpg' ) ); ?>" 
    <div class="main_page">
      <div class="blogs">
        <div class="container">
         <div class="image-heading-container">
        aaaaa  <?php echo esc_url(get_theme_file_uri('assets/images/stones.jpg')) ?>
        <img width="300" src="<?php echo $stonesImagePath; ?>"  class="custom-logo" alt="Simply Zen" decoding="async" fetchpriority="high">
        
        <h1>Simply Zen</h1>
    </div>
          <ul class="post_template">
            <li>
              <img src="https://www.macintoshhowto.com/wp-content/uploads/2023/08/default-image.jpg" alt="">
              <h2 class="post_title"><a href="" target="_self" rel="noopener">New Theme</a></h2>
              <p class="post_descrption">I’ve released the macintoshhowto theme to wordpress for others to use. You can check it out on wordpress.org here.</p>
              <a class="more-Reading" href="">Continue Reading</a>
              <div class="post_date">August 1, 2023</div>
              <a class="tag_s" href="">Wordpress</a>
            </li>
            <li>
              <img src="https://www.macintoshhowto.com/wp-content/uploads/2023/07/pxhere-730629.jpeg" alt="">
              <h2 class="post_title"><a href="" target="_self" rel="noopener">Can I zoom the MacBook Pro camera in a Zoom meeting?</a></h2>
              <p class="post_descrption">Sometimes when I’m in a Zoom meeting I am a little far from my camera and wish that I could zoom in closer to my face…</p>
              <a class="more-Reading" href="">Continue Reading</a>
              <div class="post_date">July 30, 2023</div>
              <a class="tag_s" href="">hardware</a>
            </li>
            <li>
              <img src="https://www.macintoshhowto.com/wp-content/uploads/2023/07/ipad_pxhere-759463.jpeg" alt="">
              <h2 class="post_title"><a href="" target="_self" rel="noopener">How to sync your iPad without using your iCloud data</a></h2>
              <p class="post_descrption">If you are on a free iCloud plan, you may be looking to save space. I found that my iPad backup took 2 GB of iCloud space…</p>
              <a class="more-Reading" href="">Continue Reading</a>
              <div class="post_date">July 28, 2023</div>
              <a class="tag_s" href="">sync</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


<!-- /wp:group -->
<!-- /wp:group -->