/* @override 
	https://www.macintoshhowto.com/wp-content/uploads/siteground-optimizer-assets/siteground-optimizer-combined-css-a2d7ec91477d5048d31ccda6ebeb00a8.css
	https://www.macintoshhowto.com/wp-content/uploads/siteground-optimizer-assets/siteground-optimizer-combined-css-d2be81f4fa2139e30330460c6894340e.css */

/*
Theme Name: Simply Zen
Theme URI: https://www.macintoshhowto.com/simplyzen
Author: Wayne Connor, Sunil Kumar
Author URI: wayneconnor.com
Description: Let your content shine with a lovely clean and clutter-free design. Inspired by Steve Jobs, Apple, and the minimalist design ethos, we created a theme that is both beautiful and functional, embodying the essence of simplicity.
You can choose a 'featured image' for each post, and this image will be displayed on the front page along with an except of each post. 
Requires at least: 6.1
Tested up to: 6.3
Requires PHP: 5.6
Version: 1.14
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: simply-zen
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, blog, portfolio, news
*/

  
/****** header_css ******/  
header {
	background: #fff;
}
header .wp-block-navigation .wp-block-navigation-item {
	padding: 0 10px;
}
header .wp-block-navigation-item li {
	padding: 0 0 !important;
}
header .wp-block-navigation__container {
	text-align: center;
}
header .is-responsive.wp-block-navigation {
	justify-content: center;
}
.wp-block-navigation__submenu-container {
	border-radius: 10px;
}
.wp-block-search__inside-wrapper {
	border-radius: 10px;
	padding: 0px;
}
.wp-block-search__input {
  padding-left: 10px;
  box-sizing: content-box;
  background: transparent;
}
.wp-block-search__button.has-icon {
	border-radius: 10px;
	padding: 5px;
	background: #b7b7b7;
}
.wp-block-search__button.has-icon:hover {
	background: #000000;
}


/****** header_css_end ******/

/****** footer_css ******/
footer.wp-block-template-part {
	background: #000000;
	padding: 0px 0;
}
footer .has-background {
	background-color: transparent !important;
}
/****** footer_css_end ******/


/****** post_css ******/
main {
	margin-top: 50px !important;
}
.wp-block-post {
	/*box-shadow: 0 0px 20px #ccc;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;*/
	
}
.wp-block-post .wp-block-post-title {
	font-size: 24px;
}
.wp-block-post figure a {
  height: 100% !important;
}
.wp-block-post figure a .wp-post-image {
  height: 100% !important;
}
.wp-block-post figure {
	height: 250px !important;
}
.wp-block-post .wp-post-image {
	border-radius: 10px;
	transition: 0.5s;
} 
.wp-block-post .wp-post-image:hover {
	transform: scale(1.04);
}
.taxonomy-category.wp-block-post-terms {
	margin-top: 0px;
	text-transform: capitalize;
}
.wp-block-post-author__content {
	display: flex;
	align-items: center;
}
.wp-block-post .wp-block-post-author__avatar .avatar {
	border-radius: 50%;
	margin-top: 4px;
}
.wp-block-post-author__name {
	text-transform: capitalize;
}
.wp-block-query-pagination {
	text-align: center;
	display: block !important;
}
.wp-block-query-pagination a {
	text-align: center;
	margin: 0px !important;
	background: transparent;
	padding: 10px 40px;
	display: inline-block;
	border-radius: 30px;
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	font-size: 0px;
}
.wp-block-query-pagination-next:after {
	content: "Load More";
	font-size: 18px;
}
.wp-block-query-pagination-previous::after {
	content: "Back";
	font-size: 18px;
}
.wp-block-query-pagination a:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}
.wp-block-post-comments-form input[type="submit"] {
	border-radius: 40px;
	background: transparent;
	color: #000;
	border: 1px solid #000;
}
.wp-block-post-comments-form input[type="submit"]:hover {
	color: #fff;
	background: #000;
}
.wp-block-post .taxonomy-category {
	text-align: right;
}
.wp-block-post-excerpt__more-text {
	margin-top: 10px;
}
/****** post_css_end ******/


/****** single_post_css ******/

.single-post h1.wp-block-post-title {
	font-size: 36px;
	margin-bottom: 0px !important;
}
.single-post .entry-content ol {
	padding-left: 15px;
}
.right-sidebar .wp-block-group {
	background: #f9f9f9;
	padding: 20px;
	border-radius: 20px;
}
.right-sidebar .wp-block-latest-posts__featured-image img {
	border-radius: 5px;
}
.right-sidebar ul {
	padding-left: 15px;
}
.right-sidebar ol {
	padding-left: 0px;
}
.comment-section {
	background: #f9f9f9;
	border-radius: 20px;
}
/****** single_post_css_end ******/


/****** page_css ******/
.wp-site-blocks {
	padding: 0px;
}

@media only screen and (min-width: 600px) and (max-width: 950px){
.wp-block-post {
	width: calc(100% - 12px ) !important;
}
}

@media  (max-width: 600px){
.wp-block-post {
	width: calc(100% ) !important;
	margin-bottom: 20px !important;
}



.is-layout-grid {
  display: block !important;
}

}

